body {
  font-family: "Open Sans" !important;
}

.page-header.type22 .header.content > .logo {
  max-width: 115px !important;
}
.header-main-right .custom-block {
  display: inline-block !important;
}

#totop {
  display: none !important;
}

.fotorama__caption {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.at-expanding-share-button {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
