body {
  font-family: "Open Sans" !important;
}

/* Header menu */
@media (min-width: 768px) {
  .page-header.type22 .navigation .level0 > .level-top {
    font-size: 18px;
  }
}

.page-header.type22 .header.content > .logo {
  max-width: 115px !important;
}
.header-main-right .custom-block {
  display: inline-block !important;
}

#totop {
  display: none !important;
}

.fotorama__caption {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

.at-expanding-share-button {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* Check out form */
#shipping-new-address-form div[name="shippingAddress.company"] {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

#shipping-new-address-form div[name="shippingAddress.street.0"] label {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

#shipping-new-address-form div[name="shippingAddress.postcode"] {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

#shipping-new-address-form div[name="shippingAddress.country_id"] {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
